[Unit]
Description=Compton
Documentation=info:compton man:compton(1) https://github.com/yshui/compton

[Service]
Type=simple
ExecStart=/usr/bin/compton

[Install]
WantedBy=graphical.target
