[Unit]
Description=Redshift
Documentation=info:redshift man:redshift(1) http://jonls.dk/redshift/

[Service]
Type=simple
ExecStart=/usr/bin/redshift

[Install]
WantedBy=default.target
