[Unit]
Description=Udiskie
Documentation=info:udiskie man:udiskie(8) https://github.com/coldfix/udiskie
After=udisks2.service

[Service]
Type=simple
ExecStart=/usr/bin/udiskie

[Install]
WantedBy=default.target
