[Unit]
Description=Deactivate xss
RefuseManualStop=no

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
Requires=xss.service
WantedBy=default.target