[user]
  name = Sam B
  email = nhalbleiter@gmail.com
  signingkey = 1F2F415A87C3168F85A285F731519FA16D854C40

[core]
  editor = emacsclient -nw
  pager = "most +s"
  whitespace = "tab-in-indent tabwidth=2"

[alias]
  amend = "commit --amend --no-edit"
  sdiff = "diff --staged"

[pretty]
  shortdate = "%C(yellow)commit %C(auto)%h% d%n%CresetDate:   %aD%n%s%n"

[advice]
  statusHints = false
  detachedHead = false

[interactive]
  singleKey = true

[pager]
  branch = false

[status]
  short = true
  branch = true
  showUntrackedFiles = all

[log]
  abbrevCommit = true

[stash]
  showPatch = true

[merge]
  conflictStyle = "diff3"
  log = 3

[rebase]
  missingCommitsCheck = "warn"
  abbreviateCommands = true

[grep]
  patternType = "extended"
  fullName = true
  threads = 2
  fallbackToNoIndex = true
